{% load staticfiles compressed %}

<!DOCTYPE html>
<html>
    <head>
        <title>System rejestracji na imprezy ZHP</title>
        {% compressed_css 'bootstrap' %}
        {% compressed_css 'main' %}
    </head>
    <body>

    <header class="page-header">
        <div class="container">
            <h1>System rejestracji na imprezy ZHP</h1>
        </div>
    </header>

    <div class="container">
      <p class="lead">Wprowadzenie</p>
      <p>i inne pierdółki</p>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">System rejestracji na imprezy &copy; 2014 GK ZHP</p>
      </div>
    </div>

    </body>
</html>